#content-main {
    max-width: 50rem;
    min-width: 10rem;

}

#content-main > h1 {
    text-align: center;
}

#container-card .card {
    width: 12rem;
    & div:has(>i) {
        text-align: center;
    }
    & i {
        font-size: xx-large;
    }
}
