<h1 class="rutas">Vuelo</h1>
<table class="tabla">
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Agregar</button>
  <tr>
    <th class="id">ID</th>
    <th class="fecha_fin">Fecha de Salida</th>
    <th class="fecha_fin">Hora de Salida</th>
    <th class="fecha_fin">Fecha de Llegada</th>
    <th class="fecha_fin">Hora de Llegada</th>
    <th class="fecha_fin">Origen</th>
    <th class="fecha_fin">Destino</th>
    <th class="fecha_fin">Hora de Llegada</th>
    <th class="fecha_fin">Numero de Plazas</th>
  </tr>
  <tbody>
    <tr *ngFor="let vuelo of vuelo">
      <td>{{vuelo.id}}</td>
      <td>{{vuelo.fecha_salida}}</td>
      <td>{{vuelo.hora_salida}}</td>
      <td>{{vuelo.fecha_llegada}}</td>
      <td>{{vuelo.hora_llegada}}</td>
      <td>{{vuelo.origen}}</td>
      <td>{{vuelo.destino}}</td>
      <td>{{vuelo.numero_plazas_totales}}</td>
      <td><div class="d-grid gap-2 d-md-block">
        <button class="btn btn-primary" type="button">Editar</button>
        <button class="btn btn-primary" type="button">Eliminar</button>
      </div></td>
    </tr>
  </tbody>
</table>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nombre de Hotel</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Hotel:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Direccion:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Localidad:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Provincia:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Telefono:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Estrellas:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary">Agregar</button>
      </div>
    </div>
  </div>
</div>
