<h1 class="rutas">Rutas</h1>
<table class="tabla">
  <tr>
    <th class="id">Codigo</th>
    <th class="fecha_fin">Nombre de Ruta</th>
    <th class="fecha_fin">Valor Pasajero</th>
    <th class="fecha_fin">Accion</th>
  </tr>
  <tbody>
    <tr *ngFor="let rutas of rutas">
      <td>{{rutas.id}}</td>
      <td>{{rutas.ru_NombRuta}}</td>
      <td>{{rutas.ru_ValoPasj}}</td>
      <td><div class="d-grid gap-2 d-md-block">
        <button class="btn btn-primary" type="button">Agregar</button>
        <button class="btn btn-primary" type="button">Eliminar</button>
      </div></td>
    </tr>
  </tbody>
</table>
