<h1 class="rutas">Buses</h1>
<table class="tabla">
  <tr>
    <th class="id">Placa</th>
    <th class="fecha_fin">Codigo de FLota</th>
    <th class="fecha_fin">Capacidad</th>
    <th class="fecha_fin">Fecha Fabricacion</th>
    <th class="fecha_fin">Tipo</th>
    <th class="fecha_fin">Accion</th>
  </tr>
  <tbody>
    <tr *ngFor="let buses of buses">
      <td>{{buses.id}}</td>
      <td>{{buses.bu_CodiFlot}}</td>
      <td>{{buses.bu_Capacidad}}</td>
      <td>{{buses.bu_FechFabri}}</td>
      <td>{{buses.bu_Tipo}}</td>
      <td><div class="d-grid gap-2 d-md-block">
        <button class="btn btn-primary" type="button">Agregar</button>
        <button class="btn btn-primary" type="button">Eliminar</button>
      </div></td>
    </tr>
  </tbody>
</table>
