<h1 class="rutas">Conductores</h1>
<table class="tabla">
  <tr>
    <th class="id">Codigo</th>
    <th class="fecha_fin">Nombre de Conductor</th>
    <th class="fecha_fin">Direccion Conduccion</th>
    <th class="fecha_fin">Fecha Nacimiento</th>
    <th class="fecha_fin">Accion</th>
  </tr>
  <tbody>
    <tr *ngFor="let conductores of conductores">
      <td>{{conductores.id}}</td>
      <td>{{conductores.co_NombConduc}}</td>
      <td>{{conductores.co_DireConduc}}</td>
      <td>{{conductores.co_fechNaci}}</td>
      <td><div class="d-grid gap-2 d-md-block">
        <button class="btn btn-primary" type="button">Agregar</button>
        <button class="btn btn-primary" type="button">Eliminar</button>
      </div></td>
    </tr>
  </tbody>
</table>
